.pagination {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
  margin-top: 60px;
}

.pagination__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 75px;
  border-radius: 5px;
  border: 2px solid #c4c4c4;
  cursor: pointer;
  color: #928f94;
}

.pagination__item-number {
  font-weight: 700;
  font-size: 30px;
  color: #928f94;
}

.pagination__item-ellipsis {
  gap: 5px;
}

.pagination__item-ellipse {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #928f94;
  margin-top: 20px;
}

.pagination__item.active {
  background-color: #ffa800;
  border: none;
}

.pagination__item.active > p {
  color: white;
}

.pagination__item:active {
  background-color: transparent;
  border: 2px solid #ffa800;
  color: #ffa800;
}

.pagination__item:active > .pagination__item-number {
  color: #ffa800;
}

.pagination__item-ellipsis:active > div {
  background-color: #ffa800;
}
