.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 360px;
  border: 1px solid #c4c4c4;
  box-shadow: 0px 2px 2px 0px #3e3c4140;
  padding: 12px;
}

.directions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.departure {
  text-align: left;
}

.city {
  color: #292929;
  font-weight: 400;
  font-size: 20px;
}

.station {
  color: #928f94;
  font-weight: 400;
  font-size: 16px;
  white-space: pre-line;
}

.destination {
  text-align: right;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons__wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 90px;
}
.icon {
  color: #c4c4c4;
  width: 20px;
  height: 20px;
}

.price__wrapper {
  display: flex;
  gap: 8px;
  align-items: flex-end;
}

.price__text {
  font-weight: 400;
  font-size: 16px;
  color: #928f94;
  padding-bottom: 3px;
}

.price__value {
  color: #ffa800;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
}

.price__icon {
  color: #928f94;
  width: 20px;
  height: 25px;
}
