.ticket {
  width: 960px;
  min-height: 270px;
  display: flex;
  border: 1px solid #c4c4c4;
  box-shadow: 0px 2px 2px 0px #0000004d;
}

.train__item {
  width: 200px;
  background-color: #e4e0e9;
  flex-direction: column;
}

.train__icon {
color: #FFFFFF;
width: 86px;
height: 86px;
}

.details {
  display: flex;
  background-color: #ffff;
  gap: 26px;
}

.directions {
  width: 460px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
  padding-top: 40px;
}

.direction {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  justify-content: center
}

.time {
  font-weight: 700;
  font-size: 24px;
  color: #3e3c41;
}

.city {
  font-weight: 400;
  font-size: 18px;
  color: #3e3c41;
}

.station {
  font-weight: 400;
  font-size: 16px;
  color: #928f94;
}

.duration {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.duration__text {
  font-weight: 400;
  font-size: 18px;
  color: #c4c4c4;
}

.direction__arrow {
  width: 30px;
  height: 20px;
  color: #FFA800C9;
}

