.aside__title {
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  color: #e5e5e5;
  padding-bottom: 40px;
  border-bottom: 1px solid #e5e5e5;
}

.total_price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.total_price_title {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  color: #ffffff;
}

.total_price_value {
  font-weight: 700;
  font-size: 48px;
  color: #ffa800;
}

.total_price_icon {
  width: 26px;
  height: 32px;
  color: #e5e5e5;
}
