/* LastTicketsWidget Styles */
.last-tickets {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.last-tickets__title {
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  color: #000000;
}

.last-tickets__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* LastTicketCard Styles */

.last-ticket {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 360px;
  border: 1px solid #c4c4c4;
  box-shadow: 0px 2px 2px 0px #3e3c4140;
  padding: 12px;
}

.last-ticket__directions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.last-ticket__departure-location {
  text-align: left;
}

.last_tiket__direction-city {
  color: #292929;
  font-weight: 400;
  font-size: 20px;
}

.last_tiket__direction-station {
  color: #928f94;
  font-weight: 400;
  font-size: 16px;
  white-space: pre-line;
}

.last-ticket__destination-location {
  text-align: right;
}

.last-ticket__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.last-ticket__facilities {
  width: 90px;
  height: 20px;
  color: #c4c4c4;
}

.last-ticket__price {
  display: flex;
  gap: 8px;
  align-items: flex-end;
}

.last-ticket__price-text {
  font-weight: 400;
  font-size: 16px;
  color: #928f94;
  padding-bottom: 3px;
}

.last-ticket__price-value {
  color: #ffa800;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
}

.last-tiket__price-icon {
  color: #928f94;
  width: 20px;
  height: 25px;
}
