.hero__successful_page {
  height: 834px;
}

.hero__successful_page > div {
  padding-top: 269px;
}

.successful_order {
  height: 700px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  margin-top: 70px;
  margin-bottom: 200px;
}

.successful_order_content {
  position: absolute;
  top: -400px;
  width: 1404px;
  height: 1113px;
  display: flex;
  align-self: center;
  flex-direction: column;
  z-index: 1000;
}

.hero__title {
  font-weight: 700;
  font-size: 72px;
  color: #ffffff;
  margin-bottom: 40px;
}

.order_details {
  width: 100%;
  height: 100%;
  border: 1px solid #c4c4c4;
  box-shadow: 0px 2px 2px 0px #00000040;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.order_header {
  width: 100%;
  height: 107px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  border-bottom: 1px solid #c4c4c4;
}

.order_number {
  font-weight: 700;
  font-size: 36px;
  color: #3e3c41;
}

.order_sum {
  display: flex;
  align-items: center;
  gap: 16px;
}

.order_sum_text {
  font-weight: 400;
  font-size: 36px;
  color: #928f94;
}

.amount {
  font-weight: 700;
  font-size: 36px;
  color: #3e3c41;
}

.currency {
  width: 21px;
  height: 21px;
  color: #928f94;
}

.order_body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.order_icons {
  height: 312px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f4f3f6;
  gap: 10%;
  padding: 40px;
}

.order_icon_group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.icon_info {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  color: #292929;
}

.icon_info > span {
  font-weight: 500;
}

.order_message {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

.success_message {
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: flex-start;
}

.order_name {
  font-weight: 700;
  font-size: 36px;
  color: #292929;
}

.order_text {
  font-weight: 400;
  font-size: 24px;
  color: #292929;
}

.order_text_bold {
  font-weight: 700;
}

.order_footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  background-color: #ffa800e0;
}

.rating {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.rating_text {
  font-weight: 400;
  font-size: 24px;
  color: #292929;
}

.rating_stars {
  display: flex;
  gap: 16px;
}

.star {
  cursor: pointer;
  color: #ffa800e0;
}

.active {
  color: white;
}

.button {
  width: 340px;
  height: 50px;
}
