.hero__payment_page {
  height: 596px;
}

.hero__payment_page > div {
  padding-top: 269px;
}

.find_tickets__payment_container {
  width: 1490px;
  height: 350px;
}

.find_tickets__inputs__payment_page {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.payment {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  margin-top: 70px;
  margin-bottom: 200px;
}

.payment__sidebar {
  width: 379px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.payment__content {
  width: 959px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.payment__details {
  width: 100%;
  /* height: 1072px; */
  border: 1px solid #c4c4c4;
  box-shadow: 0px 2px 2px 0px #00000040;
}

.payment__details_group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user_info {
  border-bottom: 1px dashed #928f94;
}

.payment__details_group > *:not(:last-child) {
  border-bottom: 1px dashed #928f94;
}

.personal_info__header {
  width: 100%;
  height: 107px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f9f9f9;
  padding-left: 30px;
}

.title {
  font-weight: 400;
  font-size: 30px;
  color: #292929;
}

.personal_info__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 30px 60px 30px;
}

.name_inputs {
  display: flex;
  justify-content: space-between;
}

.payment__content {
  display: flex;
  flex-direction: column;
}

.payment__content > * + * {
  border-top: 1px dashed #928f94;
}

.payment_method {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px 30px 48px 30px;
}

.payment_options {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.payment_option {
  font-weight: 700;
  font-size: 24px;
  color: #292929;
  cursor: pointer;
}

.payment_option_active {
  color: #ffa800;
}

.checkbox_text {
  font-weight: 400;
  font-size: 24px;
  color: #928f94;
}

.checkbox_container {
  gap: 20px;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input_group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  font-weight: 400;
  font-size: 18px;
  color: #292929;
}

.input {
  width: 280px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #928f94;
  outline: none;
  padding: 10px;
  font-weight: 400;
  font-size: 24px;
  color: #C4C4C4;
}

.input.filled {
  color: #292929;
}

.input_with_error {
  color: #ff3d00cc;
  border: 1px solid #ff3d00cc;
}

.error {
  color: #ff3d00cc;
  font-size: 14px;
  height: 14px;      
  line-height: 14px;
  visibility: visible;
}

.error.hidden {
  visibility: hidden; 
}

.button {
  width: 323px;
  height: 60px;
  align-self: flex-end;
  margin-top: 60px;
  border: none;
}