button {
  cursor: pointer;
  border-radius: 5px;
  font-weight: 700;
  font-size: 24px;
}

.find {
  width: 323px;
  height: 60px;
  border: none;
  background-color: #ffa800;
  color: #292929;
  text-transform: uppercase;
  align-self: flex-end;
}

.find:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.find:active {
  box-shadow: 0px 4px 4px 0px #00000040;
  border: 1px solid #ffa800;
  background-color: #ffff;
  color: #ffa800;
}

.more {
  width: 222px;
  height: 60px;
  border: none;
  background-color: #ffa800;
  color: #ffff;
}

.more.disabled {
  background-color: #928f94;
}

.more:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.more:active {
  box-shadow: 0px 4px 4px 0px #00000040;
  border: 1px solid #ffa800;
  background-color: #ffff;
  color: #ffa800;
}

.choose {
  width: 228px;
  height: 39px;
  border: none;
  color: #ffff;
  background-color: #ffa800;
}

.choose.disabled {
  background-color: #928f94;
}

.choose:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.choose:active {
  box-shadow: 0px 4px 4px 0px #00000040;
  border: 1px solid #ffa800;
  background-color: #ffff;
  color: #ffa800;
}

.change {
  width: 233px;
  height: 39px;
  border: 1px solid #292929;
  background-color: #ffff;
  color: #292929;
}

.change:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
  color: #ffa800;
}

.change:active {
  box-shadow: 0px 4px 4px 0px #00000040;
  border: none;
  background-color: #ffa800;
  color: #292929;
}

.confirm {
  width: 323px;
  height: 60px;
  background-color: #ffa800;
  color: #ffff;
  text-transform: uppercase;
}

.confirm.disabled {
  background-color: #928f94;
}

.confirm:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.confirm:active {
  box-shadow: 0px 4px 4px 0px #00000040;
  border: 1px solid #ffa800;
  background-color: #ffff;
  color: #ffa800;
}

.learn-more {
  width: 325px;
  height: 60px;
  border: 1px solid #ffff;
  color: #ffff;
  background-color: transparent;
}

.learn-more:hover {
  border: none;
  background-color: #ffca62;
  color: #2d2b2f;
}

.learn-more:active {
  border: none;
  background-color: #ffff;
  color: #2d2b2f;
}

.send {
  width: 169px;
  height: 60px;
  text-transform: uppercase;
  border-radius: 3px;
  border: 1px solid #ffff;
  color: #ffff;
  background-color: transparent;
  font-weight: 400;
}

.send:hover {
  border: none;
  background-color: #ffca62;
  color: #2d2b2f;
}

.send:active {
  border: none;
  background-color: #ffff;
  color: #2d2b2f;
}
