.direction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.direction > label {
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
}

.direction__inputs {
  display: flex;
  align-items: center;
  gap: 5px;
}

.direction__input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 325px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 3px;
  padding: 10px;
}

.direction__input-field {
  color: #292929;
  font-size: 18px;
  font-weight: 400;
  background-color: transparent;
  outline: none;
  border: none;
}

.direction__input-field::placeholder {
  color: #e5e5e5;
  font-size: 18px;
  font-weight: 400;
}

.direction__switcher {
  width: 24px;
  height: 24px;
}

.direction__icon {
  width: 20px;
  height: 30px;
  color: #e5e5e5;
}
