.how-it-works {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 575px;
  background-image: url("/images/image2.png");
  margin-top: 100px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.how-it-works::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 214, 0, 0.4);
}

.how-it-works__upper-block {
  width: 70%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.how-it-works__title {
  color: #ffffff;
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
}

.how-it-works__advantages {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 100px;
}

.how-it-works__advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.how-it-works__advantage__img-wrapper {
  width: 162px;
  height: 162px;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.16);
}

.how-it-works__advantage__img-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.how-it-works__advantage__text {
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
}
