.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding-left: 258px;
  margin-top: 100px;
}

.about-us__title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 36px;
  color: #292929;
}

.about-us__content {
  display: flex;
  gap: 14px;
}

.about-us__deco-line {
  width: 9px;
  height: 231px;
  background-color: #ffa800;
}

.about-us__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-us__text > p {
  font-weight: 400;
  font-size: 24px;
}

.about-us__text > :last-child {
  font-weight: 700;
}