.custom__date-input {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #ffffff;
  border-radius: 3px;
  padding: 10px;
}

.custom__date-input-field {
  color: #292929;
  font-size: 18px;
  font-weight: 400;
  outline: none;
  border: none;
  background-color: transparent;
}

.custom__date-input-field::placeholder {
  font-size: 18px;
  font-weight: 400;
  color: #e5e5e5;
}

.custom__date-icon {
  width: 30px;
  height: 33px;
  color: #e5e5e5;
}

.react-datepicker-popper {
  z-index: 9999 !important;
}