.date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.date__inputs {
  display: flex;
  align-items: center;
  gap: 34px;
}

.date > label {
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
}

.date__departure__input,
.date__return__input {
  width: 325px;
  height: 60px;
}
