.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: #2d2b2f;
  color: #ffffff;
  padding: 40px;
}

.footer__details {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__title {
  font-weight: 500;
  font-size: 30px;
}

.footer__contacts-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__contact {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__icon {
  width: 30px;
  height: 30px;
}

.footer__icon.footer__icon__mail {
  width: 30px;
  height: 24px;
}

.footer__icon__location {
  width: 21px;
  height: 30px;
}

.footer__contact-text {
  font-weight: 400;
  font-size: 24px;
  color: #e5e5e5;
}

.footer__subscribe {
  display: flex;
  flex-direction: column;
}

.footer__subscribe-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__subscribe-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__label {
  color: #e5e5e5;
  font-size: 24px;
  font-weight: 400;
}

.footer__form__group {
  display: flex;
  gap: 16px;
}

.footer__input {
  outline: none;
  width: 447px;
  height: 60px;
  border: none;
  border-radius: 3px;
  padding: 10px;
  color: #292929;
  font-size: 24px;
  font-weight: 400;
}

.footer__input::placeholder {
  color: #e5e5e5;
  font-size: 24px;
  font-weight: 400;
}

.footer__icon {
  cursor: pointer;
}

.footer__icon-social,
.footer__icon {
  cursor: pointer;
  color: #e5e5e5;
}

.footer__icon-social:active,
.footer__icon:active {
  color: #ffca62;
}

.footer__social-media {
  display: flex;
  gap: 26px;
}

.footer__icon-social_youtube {
  width: 38px;
  height: 30px;
}

.footer__icon-social_linkedin {
  width: 31px;
  height: 30px;
}

.footer__icon-social_gmail {
  width: 46px;
  height: 30px;
}

.footer__icon-social_facebook {
  width: 13px;
  height: 30px;
}

.footer__icon-social_twitter {
  width: 36px;
  height: 30px;
}

.footer__deco-line {
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
}

.footer__lower-part {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  font-size: 36px;
  font-weight: 900;
  color: #e5e5e5;
  cursor: pointer;
}

.footer__scrollup-icon {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.footer__date {
  font-weight: 300;
  font-size: 24px;
  color: #e5e5e5;
}
