.seats {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 276px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #f5f4f6;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  z-index: 999;
  margin-top: 5px;
}

.seats::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #f5f4f6;
}

.seat {
  display: flex;
  width: 100%;
  gap: 18px;
  align-items: center;
  justify-content: space-between;
}

.seat__type {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.seat__value {
font-weight: 700;
font-size: 24px;
color: #2D2B2F;
}

.seat__currency {
  color: #928F94;
  width: 16px;
  height: 19px;
}