/* FilterWidget Styles */
.filter {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #3e3c41;
  color: #ffff;
  padding-top: 40px;
  overflow: hidden;
}

.filter__dates {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e5e5e5;
}

.filter__date-input {
  width: 295px;
  height: 43px;
  margin-top: 10px;
}

.filter__date-input--field {
  font-size: 18px;
}

.filter__date-input--field::placeholder {
  font-size: 18px;
}

.filter__date-input--icon {
  width: 20px;
  height: 22px;
}

.filter__title {
  font-weight: 400;
  font-size: 30px;
  color: #ffffff;
}

/* FilterOptions Styles */

.filter__options {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid #e5e5e5;
}

.filter__options-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filter__options-item {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.filter__option {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* FilterPrice Styles */

.filter__price {
  padding: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.filter__price-title {
  font-weight: 400;
  margin-bottom: 10px;
}

.filter-price__thumb {
  height: 24px;
  width: 24px;
}

.filter-price__slider-outer {
  height: 24px;
}

.filter-price__slider-text {
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 18px;
}

/* FilterDirection Styles */

.filter__direction {
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}

.filter__direction__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  padding: 20px;
}

.filter__direction-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter__icon-more,
.filter__icon-less {
  cursor: pointer;
  color: #c4c4c4;
  width: 20px;
  height: 20px;
}

.filter__icon-more:active,
.filter__icon-less:active {
  color: #fcdc9d;
}

.filter__direction__slices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.filter-direction__slider-outer {
  height: 18px;
}

.filter-direction__thumb {
  height: 18px;
  width: 18px;
}

.filter-direction__slider-title {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 10px;
}

.filter-direction__slider-title--right {
  margin-left: auto;
}
