.filter__dates {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e5e5e5;
}

.filter__date_input {
  width: 295px;
  height: 43px;
  margin-top: 10px;
}

.input__field {
  font-size: 18px;
}

.input__field::placeholder {
  font-size: 18px;
}

.input__icon {
  width: 20px;
  height: 22px;
}

.filter__title {
  font-weight: 400;
  font-size: 30px;
  color: #ffffff;
}
