.switch {
  position: relative;
  display: inline-block;
  width: 72px;
  height: 19px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  left: 0;
  background-color: #c4c4c4;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  top: 50%;
  transform: translateY(-50%);
}

input:checked + .slider:before {
  transform: translate(44px, -50%);
  background-color: #ffa800;
}

input:checked + .slider {
  background-color: #fcdc9d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #fcdc9d;
}

.slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 50%;
}
