.progress {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96px;
  background-color: #3e3c41;
  color: #ffffff;
  overflow: hidden;
  list-style: none;
}

.progress > :first-child {
  padding-left: 140px;
}

.progress > :last-child {
  padding-right: 140px;
}

.progress__item {
  width: 100%;
  height: 98px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 0px 10px 50px;
  position: relative;
  overflow: hidden;
  background-color: #3e3c41;
}

.progress__item.active {
  background-color: #dc9305;
  height: 98px;
  border: none;
}

.progress__item:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  right: 1px;
  border-style: solid;
  border-width: 49px 0 49px 49px;
  border-color: transparent transparent transparent #3e3c41;
}

.progress__item:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0px;
  right: 0px;
  border-style: solid;
  border-width: 49px 0 49px 49px;
  border-color: transparent transparent transparent #e5e5e5;
}

.progress__item.beforeactive:before {
  background-color: #dc9305;
}

.progress__item:before {
  background-color: #3e3c41;
}

.progress__item.active:after {
  border-color: transparent transparent transparent #dc9305;
}

.progress__item:last-child:after,
.progress__item:last-child:before {
  border: 0;
}

.progress__item__position {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  background-color: transparent;
  font-weight: 700;
  font-size: 36px;
}

.progress__item__name {
  font-weight: 700;
  font-size: 30px;
}
