.trip_collapsible_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}

.trip_collapsible_section_title_wrapper {
  display: flex;
  align-items: center;
  gap: 14px;
}

.trip_collapsible_section_title {
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
}

.trip_collapsible_section_date {
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  padding-top: 8px;
}

.trip_collapsible_section_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  padding: 20px;
}

.trip_collapsible_section_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon_more,
.icon_less {
  cursor: pointer;
  color: #c4c4c4;
  width: 20px;
  height: 20px;
}

.icon_more:active,
.icon_less:active {
  color: #fcdc9d;
}

.trip_collapsible_section_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}
