.tickets {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  margin-top: 70px;
  margin-bottom: 200px;
}

.tickets__sidebar {
  width: 379px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.tickets__content {
  width: 959px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.tickets__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
