@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic-ext");

#root {
  max-width: 1920px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: #ffffff;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

.main-container {
  display: flex;
  flex-direction: column;
}
